---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/users":
    post:
      summary: Creates a user
      tags:
      - Users
      parameters: []
      responses:
        '201':
          description: user created
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                user_name:
                  type: string
                password:
                  type: number
              required:
              - email
              - user_name
              - password
  "/users/{id}":
    get:
      summary: Retrieves a user
      tags:
      - Users
      - Another Tag
      parameters:
      - user_name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: user found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  email:
                    type: string
                  user_name:
                    type: string
                  password:
                    type: integer
                required:
                - id
                - email
                - user_name
                - password
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  email:
                    type: string
                  user_name:
                    type: string
                  password:
                    type: integer
                required:
                - id
                - email
                - user_name
                - password
        '404':
          description: user not found
        '406':
          description: unsupported accept header
  "/trips":
    post:
      summary: Creates a trip
      tags:
      - Trips
      parameters: []
      responses:
        '201':
          description: trip created
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                destination:
                  type: string
                vip:
                  type: number
                price:
                  type: number
                image:
                  type: string
                description:
                  type: string
              required:
              - name
              - destination
              - vip
              - price
              - image
              - description
  "/trips/{id}":
    get:
      summary: Retrieves a trip
      tags:
      - Trips
      - Another Tag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: trip found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  destination:
                    type: string
                  vip:
                    type: boolean
                  price:
                    type: number
                  image:
                    type: string
                  description:
                    type: string
                required:
                - id
                - name
                - destination
                - vip
                - price
                - image
                - description
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  destination:
                    type: string
                  vip:
                    type: boolean
                  price:
                    type: number
                  image:
                    type: string
                  description:
                    type: string
                required:
                - id
                - name
                - destination
                - vip
                - price
                - image
                - description
        '404':
          description: blog not found
        '406':
          description: unsupported accept header
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
